.header {
    background-color: #144b6f;
    margin-bottom: 50px;
}

.form {
   display: flex;
   justify-content: center;
   background-color: #144b6f;
}

.wrapper {
    position: relative; 
}

.input {
    padding-left: 24px;
}

.button {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-25%);
    background-color: transparent;
    border: none;
    color: #7b8388;
}